<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

 <connectionStrings>
    <!-- ================== DATABASE SETTINGS PRODUCTION=================== -->
     <add name="ConnectionString" connectionString="Server=gadc-lstappsrv1.na.pg.com\PAYRP100; Database=db_Vacancy; User ID=Payroll_Admin; Password=payroll@123; Connection Timeout=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
